.AppHeaderMenu{
    justify-content: flex-end;
    font-size: large;
    display: flex;
    height: 60%;
    width: 90%;
  }

 .AppHeaderBreadcrumb{
    display: inline-block;
    align-self: flex-end;
    font-size: small;
    color: #FFDBA3;
    margin: 5px 0 0 10px;
    bottom: 0;
  }